.banner{
	background: url(../img/banner.png) no-repeat center;
	background-size: cover;
	height: 250px;
	padding: 10em 2em 3em 2em;
	text-align: center;
	z-index: 1;
	position: relative;
}

.bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
}

.titulo-banner h1{
	color: #e2e2e2;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 5;
}


@media (max-width: 600px){
	.banner {
		height: 115px;
		padding: 3em;
	}
}