header {
	width: 100%;
	box-shadow: 0px 0px 7px 3px #d8d7d747;
}
.logo img {
	display: block;
	width: 150px;
	height: 65px;
}
.menu-principal {
	font-weight: bold;
	list-style-type: none;
}
.menu-principal a {
	display: block;
	padding-right: 1em;
	color: #231F20;
	line-height: 1;
	text-decoration: none;
	font-size: 0.9em;
}
.menu-principal a:hover {
	opacity: 0.8;
}

.logo,
.busca,
.barra-nav,
.menu-principal {
	display: inline-block;
	vertical-align: middle;
}
.menu{
	display: flex;
}

.menu-principal li {
	float: left;
}

.barra-nav {
	margin-left: auto;
	margin-top: 3em;
}

.nav-link{
	padding: 0;
}

.dropdown-menu{
	background-color: #231F20;
}
.dropdown-item{
	color: #ffffff!important;
	padding: 0.5em 1.5em;
}

.menu-abrir,
.menu-fechar {
	background: none;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	font-size: 1.6em;
	text-indent: -999em;
}

.menu-abrir {
	height: 0;
	width:.75em;
	padding-top:.125em;
	border-top: .375em double #000;
	border-bottom: .125em solid #000;
	margin: 2em 0.5em 0.5em 0.5em;
	vertical-align: middle;
	margin: 1em 0.5em 0.5em 0.5em;
}

.menu-fechar {
	position: relative;
	height: 1em;
	width: 1em;
}

.menu-fechar:before {
	content: '\00D7';
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
}

.container.menu{
	display: flex;
	justify-content: space-between;
}

.icone-menu a{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	margin: 1px;
}

.icone-menu{
	padding: 4px 5px 0px 5px;
	border-radius: 100%;
	border: 2px solid #231F20;
	width: 36px;
	height: 36px;
	margin-top: -6px;
	margin-right: 8px;
}

.email{
	background-image: url(../img/email.svg);
}

.linkedin{
	background-image: url(../img/linkedin.svg);
}

.facebook{
	background-image: url(../img/facebook.svg);
}

.busca{
	background: transparent;
	border-bottom: 4px solid #FFC400;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	box-shadow: none;
	margin-top: -25px;
}

.form-menu, .form-menu a{
	background: transparent;
	border: none;
	max-width: 135px;
}

.lupa i{
	color: #231F20;
	padding: 10px;
}

.dropdown-item:hover {
    background-color: #f8f9fa59;
}

@media (max-width: 992px) {
	.barra-nav {
		background: #f0f0f0;
		padding: 1em;
		margin: 0;

		height: 100%;
		width: 90%;
		max-width: 320px;

		position: fixed;
		z-index: 5;
		top: 0;
		left: -90%;

		transition: left 0.3s ease-out;
	}
	.menu-ativo .barra-nav {
		left: 0;
	}
	.menu-principal li {
		padding: 1em 0;
		width: 100%;
	}
	.menu-principal{
		padding-left: 0;
	}
	.menu-ativo:after {
		content: "";
		display: block;

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background: rgba(0,0,0,0.4);
	}
	.logo{
		margin: 0.2em;
	}
	.icone-menu {
		border: none!important;
		width: 36px!important;
		display: inline-block;
		margin-bottom: 30px;
	}
	.form-menu{
		max-width: 150px;
	}
	.dropdown-menu {
		background-color: transparent;
		border: none;
	}
	.menu-principal a{
		display: block;
		color: #231F20!important;
	}
	.dropdown-menu.show, .dropdown {
		position: relative!important;
		transform: inherit!important;
	}
}

@media not all and (max-width: 992px) {
	.menu-abrir,
	.menu-fechar {
		display: none;
	}
}