.titulo h1{
	border-bottom: 1px solid #4f4c4d;
	padding-bottom: .5em;
	color: #4f4c4d;
}

.bg{
	background-color: #FFC400;
	height: 250px;
	box-shadow: 1px 1px 9px 1px #80808057;
	padding-top: 3em;
}

.formulario {
	padding: 1em;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 2px #80808026;
	width: 100%;
	background-color: #ffffff;
	color: #4f4c4d;
}

.formulario h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
	color: #4f4c4d;
}

.formulario h4{
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 25px;
}

.campo{
	margin-bottom: 20px;
}

.campos label{
	margin-right: 115px;
	width: 115px;
}

.campo{
	padding-left: 49px;
}

.dados-tabela{
	margin-top: 250px;
}

label{
	display: inline-block;
	margin-bottom: .5rem;
	font-weight: 700;
	color: #231F20;
}

.form-control{
	box-shadow: 2px 2px 3px 1px #8080801f;
}

.form-control:focus, input:focus{
	outline: transparent;
	border-color: #ced4da;
	box-shadow: none;
}

.btn{
	padding: 8px;
	width: 100%;
}

.buscar{
	margin: 15px 0;
}

.campo-buscar{
	margin: 20px 0;
}

.btn-salvar{
	background-color: #28a745;
	color: #ffffff;
	border-color: #28a745;
	margin-top: 30px;
}

.btn-salvar:hover{
	background-color: #2db14b;
	color: #ffffff;
	border-color: #2db14b;
}

.btn-limpar{
	background-color: #DB1826;
	color: #ffffff;
	border-color: #DB1826;
}

.btn-limpar:hover{
	background-color: #e34651;
	color: #ffffff;
	border-color: #e34651;
}

.btn-buscar{
	background-color: #003E51;
	color: #ffffff;
	border-color: #003E51;
}

.btn-buscar:hover{
	background-color: #02526b;
	color: #ffffff;
	border-color: #02526b;
}

.botoes{
	text-align: right;
	width: 100%;
}

.form-campos{
	padding: 0 50px;
}

#mensagem-sucesso{
	color: #28a745;
	font-weight: bold;
}

@media (max-width: 600px){
	.botoes .col-md-3{
		width: 100%;
		flex: none;
		margin-bottom: 10px;
		max-width: 100%;
	}
	.botoes .offset-md-1 {
		margin-left: 0;
	}
	.campo {
		padding-left: 15px;
	}
	.formulario{
		position: inherit;
	}
	.bg{
		padding-top: 5px;
	}
	.form-campos {
		padding: 0 20px;
	}
}

@media (max-width: 767px){
	.dados-tabela {
		margin-top: 350px;
	}
	.btn-buscar{
		margin-top: 15px;
	}
	.btn-salvar{
		margin-top: 15px;
	}
}