table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

td:nth-child(2){
	text-align: left;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

th:nth-child(2){
	text-align: left;
}

th:nth-child(1){
	width: 120px;
}

th:nth-child(3), th:nth-child(4){
	width: 80px;
}

td:nth-child(3){
	cursor: pointer;
}

td:nth-child(4):hover{
	cursor: pointer;
}


td:nth-child(3):hover{
	background-color: #28a745;
	color: #ffffff;
}

td:nth-child(4):hover{
	background-color: #DB1826;
	color: #ffffff;
}

.tabela-responsiva{
	overflow-x: auto;
}

.icone{
	cursor: pointer;
}

.botoes-tabela{
	margin-bottom: 100px;
}

.btn-proximo{
	float: right;
	padding: 8px 15px;
	border: 1px solid #28a745;
	background-color: #28a745;
	color: #ffffff;
	border-radius: 5px;
	margin-top: 10px;
}

.btn-proximo:hover{
	background-color: #2db14b;
	color: #ffffff;
	border-color: #2db14b;
}

.btn-anterior{
	float: left;
	padding: 8px 15px;
	background-color: #DB1826;
	color: #ffffff;
	border-color: #DB1826;
	border-radius: 5px;
	margin-top: 10px;
}

.btn-anterior:hover{
	background-color: #e34651;
	color: #ffffff;
	border-color: #e34651;
}